a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */

.txt-lt {
  text-align: left;
}

/* text align left */

.txt-center {
  text-align: center;
}

.mr_agilemain span {
  color: #f00;
}

.w3ls-reg {
  width: 100%;
  /* margin: 0 8vw; */
  background: rgba(49, 47, 47, 0.34);
  padding: 1.5vw;
}

h1 {
  font-size: 2.9em;
  text-transform: uppercase;
  /* color: #fff; */
  font-weight: 900;
  text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.22);
  letter-spacing: 4px;
  text-align: center;
  margin: 1.1em 2vw 0.9em;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  color: #ff9800;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.7;
}

.mr_agilemain {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.agileits-left {
  flex-basis: 45%;
  margin-bottom: 1.5em;
}

li.smallBox {
  text-align: right;
  display: inline-block;
  margin-right: 12em;
  color: #fff;
}

.agileits-right {
  flex-basis: 40%;
  margin-bottom: 1.5em;
}

input[type="text"],
input[type="number"] {
  padding: 1em;
  width: 80%;
  background: transparent;
  border: 1px solid #888686;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  margin-top: 10px;
  color: #fff;
}

button {
  background: #f5f5f5;
  border: none;
  color: #000;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
}

ul.seat_w3ls {
  margin: 2em 0;
}

.screen {
  width: 100%;
  color: white;
  background: #0a0a0a;
  /* margin: .3em 6.8em; */
}

.screen-end {
  width: 96%;
  color: white;
  background: #ff9800;
  margin: 0.1em;
}

h2.wthree {
  padding: 0.8em;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 7px;
  word-spacing: 10px;
}

/*--responsive--*/

@media (max-width: 1920px) {
  h1 {
    font-size: 3.5vw;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4.5vw;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 5vw;
  }
}

@media (max-width: 667px) {
  h2.wthree {
    padding: 0.7em;
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .w3ls-reg {
    width: 500px;
  }
}

@media (max-width: 568px) {
  .mr_agilemain {
    display: block;
  }
  input[type="text"],
  input[type="number"] {
    padding: 10px 15px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .w3ls-reg {
    width: 450px;
  }
  h1 {
    font-size: 2.5em;
  }
  .w3ls-login form {
    padding: 7.5vw;
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 2.3em;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 2em;
  }
  .w3ls-reg {
    width: 370px;
  }
  input[type="text"],
  input[type="number"] {
    width: 92%;
  }
  li.smallBox {
    margin: 1em 0 0;
    display: block;
  }
}

@media (max-width: 384px) {
  h1 {
    font-size: 1.9em;
  }
  .w3ls-reg {
    width: 350px;
  }
  h2.wthree {
    padding: 0.5em;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.5em;
  }
  .w3ls-reg {
    width: 280px;
  }
  input[type="text"],
  input[type="number"] {
    width: 88%;
  }
  h2.wthree {
    font-size: 0.95em;
    letter-spacing: 5px;
  }
  .copy-wthree p {
    padding: 0 0.5em;
  }
}

/*--//responsive--*/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #fb667a;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}

.t-container th {
  font-weight: bold;
  font-size: 0.5em;
  text-align: center;
  color: #06a2eb;
}

.t-container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  box-shadow: 0 80px 292px -1px #204bc0;
  /* transform: translate3d(26px, -6px, 0); */
}
.t-container {
  text-align: left;
  overflow: hidden;
  width: 96%;
  /* margin: 0 auto; */
  display: table;
  padding: 0 0 0.6em 0;
}

.t-container td,
.t-container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 1%;
}

/* Background-color of the odd rows */
.t-container tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
.t-container tr:nth-child(even) {
  background-color: #2c3446;
}

.t-container th {
  background-color: rgb(0, 0, 0);
}

.t-container td:first-child {
  color: #fb667a;
  background-color: #020202;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  text-align: center;
}

.t-container tr:hover {
  /* max-width: 100em;
    transition: .5s; */
  background-color: rgb(92, 112, 11);
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
  transform: translate3d(8px, -6px, 0);
}

.t-container td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;

  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .t-container td:nth-child(4),
  .t-container th:nth-child(4) {
    display: none;
  }
}
.btn3d {
  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
  -moz-outline-style: none;
  outline: medium none;
}

.btn3d:active,
.btn3d.active {
  top: 2px;
}

.btn3d.btn-white {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset,
    0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.btn3d.btn-white:active,
.btn3d.btn-white.active {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.btn3d.btn-default {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset,
    0 8px 0 0 #bebebe, 0 8px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.btn3d.btn-default:active,
.btn3d.btn-default.active {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.btn3d.btn-primary {
  box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #4d5bbe, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #4274d7;
}

.btn3d.btn-primary:active,
.btn3d.btn-primary.active {
  box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #4274d7;
}

.btn3d.btn-success {
  box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #78d739;
}

.btn3d.btn-success:active,
.btn3d.btn-success.active {
  box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #78d739;
}

.btn3d.btn-info {
  box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #348fd2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #39b3d7;
}

.btn3d.btn-info:active,
.btn3d.btn-info.active {
  box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #39b3d7;
}

.btn3d.btn-warning {
  box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #d79a34, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #feaf20;
}

.btn3d.btn-warning:active,
.btn3d.btn-warning.active {
  box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #feaf20;
}

.btn3d.btn-danger {
  box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #aa0000, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #d73814;
}

.btn3d.btn-danger:active,
.btn3d.btn-danger.active {
  box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #d73814;
}

.btn3d.btn-magick {
  color: #fff;
  box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: #bb39d7;
}

.btn3d.btn-magick:active,
.btn3d.btn-magick.active {
  box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #bb39d7;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover
{
  color: rgb(3, 3, 3);
  text-decoration: none;
  font-size: 35px;
  font-weight: 700;
  transition: .5s;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #0d80e6;
  border-color: #0a4980;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1370c2;
  border-color: #0867b9;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 10%;
  font-size: 30px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.centerItems{
    text-align: center;
}